[submodule "components/firefly-display"]
	path = components/firefly-display
	url = git@github.com:firefly/component-display.git

[submodule "components/firefly-scene"]
	path = components/firefly-scene
	url = git@github.com:firefly/component-scene.git

[submodule "components/firefly-ethers"]
	path = components/firefly-ethers
	url = git@github.com:ethers-io/ethers.c.git

[submodule "components/firefly-hollows"]
	path = components/firefly-hollows
	url = git@github.com:firefly/component-hollows.git
